html, body{
    height: 100%;
    margin: 0px;
}
body{
    color: rgb(224, 224, 224);
    background-color: rgb(36, 36, 36);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    /* border: solid red */
}
#flexContainer{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}
h1{
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 20%;
    margin-bottom: 20%;
    animation: fade-down 1.0s;
}
h2{
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 0px;
}
#userInput{
    font-size: 20px;
    background-color: rgb(56, 56, 56);
    border-radius: 15px;
    border: none;
    outline: none;
    width: 100%;
    overflow: hidden;
    resize: none;
    height: 40px;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    color: white;
}
#buttonHolder {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
}

#submitter, #clearButton{
    border: none;
    width: 125px;
    height: 45px;
    border-radius: 5px;
    background-color: #0873ff;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10%; 
}

#submitter {
    margin-right: 20px;
}

#clearButton {
    margin-left: 20px;
}

#submitter:hover{
    background-color: #084fac;
    box-shadow: 0px 0px 10px white;
    transition: box-shadow 0.5s ease-in-out
}
#clearButton:hover{
    background-color: #084fac;
    box-shadow: 0px 0px 10px white;
    transition: box-shadow 0.5s ease-in-out
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-up 1.5s;
}
#response{
    margin: 0px;
}
p{
    /* border: solid yellow; */
    margin: 0px;
}
@keyframes fade-up{
    0% {
        opacity: 0;
        transform: translateY(90px) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes fade-down{
    0% {
        opacity: 0;
        transform: translateY(-90px) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes swell {
    0% {
        box-shadow: 0px 0px 0px white;
    }
    100% {
        box-shadow: 0px 3px 15px white;
    }
}