<<<<<<< HEAD
/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #c9d2db;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; Ensure body takes full viewport height */
  margin: 0; /* Remove default body margin */
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #2e4053;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #2e4053;
}

a {
  text-decoration: none;
  color: #2e4053;
}

a:hover {
  color: #ffcc00;
}

/* Header Styles */

header {
  background-color: #2e4053;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
}

.hero {
  display: grid;
  height: 50vh;
  background-image: url("img/hero-background.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  height: auto;
}
.hero > * {
  grid-column: 1;
  grid-row: 1;
}
nav {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  top: 0;
  right: 20px;
}

.hero h1 {
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ffcc00;
}

.app-section-title {
  grid-column: 1 / -1;
  padding: 10px;
}

.app-section-title h1 {
  text-align: center;
}

main[role="main"] {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 207px; /* Add padding to make space for the footer */
  box-sizing: border-box; /*Very important*/
}

/* Application Grid Styles */

.application-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.application-grid-2col {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  padding: 20px;
}

.full-card-main {
  flex-grow: 1; /* Allow main to expand and fill available space */
  display: flex;
  justify-content: center; /*Optional, centers the card*/
  align-items: center; /*Optional, centers the card*/
}

.main-card {
  width: 90%; /*Or any width you want, such as 95vw*/
  /* max-width: 1600px; optional max width */
  flex-grow: 1; /*Allows the card to grow to the main's size*/
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 20px;
  overflow: auto; /*Makes the card scrollable*/
  margin: 20px 20px; /*Adds margin around the card*/
}

.main-card-2col {
  width: 90%; /*Or any width you want, such as 95vw*/
  /* max-width: 1600px; optional max width */
  flex-grow: 1; /*Allows the card to grow to the main's size*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 20px;
  overflow: auto; /*Makes the card scrollable*/
  margin: 20px 20px; /*Adds margin around the card*/
}

.grid-item {
  max-height: 450px;
}

.grid-item-ext {
  max-height: 900px;
}

.sxs {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.scrollable {
  overflow: auto;
}

.card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 48px;
  color: #2e4053;
  margin-bottom: 10px;
}

button {
  background-color: #ffcc00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff9900;
}

/* Application Section Styles */

.application-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  padding: 20px;
}

.application-section-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.application-section-3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.max-height {
  height: 1vh;
}

form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  margin: 0 0 10px;
  padding: 0;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1em;
}

input {
  margin: 0 0 10px;
  padding: 0;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1em;
  background-color: #e6e1cf;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
  margin: 0 0 10px;
  padding: 0;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1em;
  background-color: #e6e1cf;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select {
  margin: 0 0 10px;
  padding: 0;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1em;
  background-color: #e6e1cf;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.response {
  margin: 0 0 10px;
  padding: 0;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1em;
  background-color: #e6e1cf;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.aiResponse {
  margin: 0 0 10px;
  padding: 0;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  padding: 20px;
}

/* Footer Styles */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  background-color: #2e4053;
  color: #fff;
  padding: 30px 20px 20px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #ffcc00;
}

.shshdFooter {
  padding: 30px 20px 20px;
  color: #fff;
}

#shshdFooter .shshsBanner {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.shshdElement {
  display: flex;
}

.shshdThumbnail {
  margin-right: 20px;
}

.shshdThumbnail img {
  max-width: 120px;
}

.shshdLocationSingleItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.shshdLocationSingleItem > div {
  margin-left: 20px; /* adjust to fit your needs */
}

.shshdLocationInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.shshdLocationInfo > div {
  text-align: left;
}

.shshdLocationInfo.shshdAddressBlock {
  display: flex;
  flex-direction: row;
}

.shshdLocationInfo.shshdAddress {
  margin-top: 10px;
}

.shshdTitle.shshdLocationName {
  margin: 0 0 10px;
  padding: 0;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 0.75em;
  text-transform: uppercase;
}

.shshdCity,
.shshdState,
.shshdZip {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  text-size-adjust: 100%;
}

.shshdAddress.shshdAddress-1 {
  display: inline-block;
  font-family: "Open sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  text-size-adjust: 100%;
}
=======
html, body{
    height: 100%;
    min-width: 1px;
}

body{
    color: rgb(224, 224, 224);
    background-color: rgb(36, 36, 36);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    min-width: 1px;
}

#flexContainer{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}

h1{
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 20%;
    margin-bottom: 20%;
    animation: fade-down 1.0s;
}

h2{
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 0px;
}

#userInput{
    font-size: 20px;
    background-color: rgb(56, 56, 56);
    border-radius: 15px;
    border: none;
    outline: none;
    width: 100%;
    overflow: hidden;
    resize: none;
    height: 40px;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    color: white;
}

#submitter{
    border: none;
    width: 125px;
    height: 45px;
    border-radius: 5px;
    background-color: #0873ff;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
}

#submitter:hover{
    background-color: #084fac;
    box-shadow: 0px 0px 10px white;
    transition: box-shadow 0.75s ease-in-out
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-up 1.5s;
}

#response{
    margin: 0px;
}

@keyframes fade-up{
    0% {
        opacity: 0;
        transform: translateY(90px) scale(0.5);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down{
    0% {
        opacity: 0;
        transform: translateY(-90px) scale(0.5);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes swell {
    0% {
        box-shadow: 0px 0px 0px white;
    }

    100% {
        box-shadow: 0px 3px 15px white;
    }
}
>>>>>>> origin/Ryan
